<input
  type="text"
  class="form-control border border-gray-300 rounded-lg p-2 mt-2"
  id="categorieName"
  required
  [(ngModel)]="categorieName"
  name="categorieName"
/>

<div class="flex gap-3">
  <button
    type="button"
    class="btn btn-primary mt-3"
    (click)="searchCategories()"
  >
    Search
  </button>
  <button type="button" class="btn btn-primary mt-3" (click)="clearSearch()">
    Annuler la recherche
  </button>
</div>

<div class="flex flex-column">
  @for (categorie of categories; track $index) {
    <div
      class="min-w-2xl m-5 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100"
    >
      <h3>{{ categorie.name }}</h3>
    </div>
  }
</div>
