<div class="flex flex-col items-center gap-10">
  <form class="justify-center items-center" (ngSubmit)="searchCategories()">
    <input
      type="text"
      class="form-control border border-gray-300 rounded-lg p-2 mt-2 w-full"
      id="categoryName"
      required
      [(ngModel)]="categoryName"
      name="categoryName"
    />

    <div class="flex gap-3">
      <button
        type="button"
        class="btn btn-primary mt-3"
        type="submit"
      >
        Search
      </button>
      <button type="button" class="btn btn-primary mt-3" (click)="clearSearch()">
        Annuler la recherche
      </button>
    </div>
    <app-category-counter [nbCategories]="categories.length"/>
  </form>

  <div>
    <div class="flex">
      @for (category of categories; track $index) {
        <div
          class="cursor-pointer m-5 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100"
          (click)="gotToQuizz(category.id)"
        >
          <h3>{{ category.name }}</h3>
        </div>
      }
    </div>
  </div>
</div>
