<input
  type="text"
  class="form-control border border-gray-300 rounded-lg p-2 mt-2"
  id="categorieName"
  required
  [(ngModel)]="categoryName"
  name="categorieName"
/>

<div class="flex gap-3">
  <button
    type="button"
    class="btn btn-primary mt-3"
    (click)="searchCategories()"
    [disabled]="categoryName.length === 0"
  >
    Search
  </button>
  <button type="button" class="btn btn-primary mt-3" (click)="clearSearch()">
    Annuler la recherche
  </button>
</div>

<div class="flex flex-column">
  @for (category of categories; track $index) {
    <div
      class="cursor-pointer min-w-3xs m-5 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100"
      (click)="gotToQuizz(category.id)"
    >
      <h3>{{ category.name }}</h3>
    </div>
  }
</div>
